In [2]:
import numpy as np
import pandas as pd

In [7]:
import os 
os.getcwd
# os.chdir('/Users/Shane/Desktop/pyfiles')
df = pd.read_csv('book1.csv')
df.head()

     0    1  0.1  1.1  1.2  1.3  1.4
0  0.0  0.0    0  0.0    1  0.0  0.0
1  0.0  0.0    0  1.0    1  1.0  1.0
2  1.0  1.0    0  1.0    1  0.0  0.0
3  0.5  0.5    0  0.0    1  0.4  0.4
4  0.5  0.5    0  0.3    1  0.2  0.2

In [23]:
import pickle

a = df

with open('a.pickle', 'wb') as handle:
    pickle.dump(a, handle, protocol=pickle.HIGHEST_PROTOCOL)

with open('a.pickle', 'rb') as handle:
    b = pickle.load(handle)
    
print(a == b)

       0     1   0.1   1.1   1.2   1.3   1.4
0   True  True  True  True  True  True  True
1   True  True  True  True  True  True  True
2   True  True  True  True  True  True  True
3   True  True  True  True  True  True  True
4   True  True  True  True  True  True  True
5   True  True  True  True  True  True  True
6   True  True  True  True  True  True  True
7   True  True  True  True  True  True  True
8   True  True  True  True  True  True  True
9   True  True  True  True  True  True  True
10  True  True  True  True  True  True  True
11  True  True  True  True  True  True  True
12  True  True  True  True  True  True  True
13  True  True  True  True  True  True  True

In [24]:
b.head()

     0    1  0.1  1.1  1.2  1.3  1.4
0  0.0  0.0    0  0.0    1  0.0  0.0
1  0.0  0.0    0  1.0    1  1.0  1.0
2  1.0  1.0    0  1.0    1  0.0  0.0
3  0.5  0.5    0  0.0    1  0.4  0.4
4  0.5  0.5    0  0.3    1  0.2  0.2